<div class="container">
    <form dir="rtl">
      
      <div class="form-group row">
        <label for="name" class="col-sm-2">שם משתמש:</label>
        <input type="text" class="form-control col-sm-3" id="email" placeholder="שם משתמש" name="name">
      </div>

      <div class="form-group row">
        <label for="pwd" class="col-sm-2">סיסמה:</label>
        <input type="password" class="form-control col-sm-3" id="pwd" placeholder="סיסמה" name="pwd">
      </div>

      <div class="form-group row">
          <label for="email" class="col-sm-2">מייל</label>
          <input type="email" class="form-control col-sm-3" id="email" placeholder="מייל" name="email">
      </div>

      <button type="button" class="btn btn-lg">הוסף</button>
    </form>

</div>