.container{

    background-color: rgba(26, 25, 24, 0.952);
    margin:50px auto;
    width: 1100px;
    height: 600px;
    border-radius: 15px;
    padding: 20px;
    
}
.btn{
    background-color:#d86d16;
}

label{
    color: #d86d16;
    font-size: 12pt;
    /*padding-top: 5px;
    direction: rtl;*/
}