<div class="container">
    <form dir="rtl">
      <div class="form-group row">
          <label class="col-sm-2">מיין לפי</label>
          <select id="soflow-color" class="form-control col-sm-3" (change)="ChangingValue(sel.value)" #sel>
            <option value="0" disabled selected>מיין לפי</option>
            <option value="1">שם קובץ</option>
            <option value="2">תג</option>
            <option value="3">סוג קובץ</option>
            <option value="4">תאריך</option>
          </select>
      </div>

      <div dir="rtl" class="row">
        <app-search-by-date *ngIf="selectSearchBydate" (removeSearchByDate)="removeDate()"  class="col-sm-6 col-lg-3"></app-search-by-date>
        <app-search-by-tag *ngIf="selectSearchBytag" (removeSearchByTag)="removeTag()" class="col-sm-6 col-lg-3"></app-search-by-tag>
        <app-search-by-name *ngIf="selectSearchByname" (removeSearchByName)="removeName()" class="col-sm-6 col-lg-3"></app-search-by-name>
        <app-search-by-type *ngIf="selectSearchBytype" (removeSearchByType)="removeType()" class="col-sm-6 col-lg-3"></app-search-by-type>
      </div>

      <div dir="ltr" class="row">
        <button type="button" class="btn btn-lg" (click)="showFiles()">הצג תוצאות</button>
      </div>

      <div dir="rtl" class="row">
        <div *ngFor="let res of resource" class="file">
            <button type="button" (click)="singelFile(res)">
                <p>{{res.resourceName}}</p>
                <img src="../pictures/pdf.jpg" width="200"/>
            </button>
        </div>
      </div>
    </form>
</div>

<app-view-singel-file *ngIf="viewSingelFile" [SingelFile]="SelectedFile"></app-view-singel-file>
